body {

margin:0;
background:#080914;
color:white;
font-family:Georgia, serif;

}


.hero {

min-height:100vh;

position:relative;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

overflow:hidden;

}


.hero-image {

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

object-fit:cover;

z-index:0;

}


.hero:after {

content:"";

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.55);

z-index:1;

}



.hero-text {

position:relative;

z-index:2;

padding:20px;

}



h1 {

font-size:70px;

letter-spacing:8px;

}


h2 {

font-size:42px;

}


h3 {

font-size:30px;

color:#c9a34a;

}


p {

font-size:20px;

}


button {

background:#c9a34a;

border:none;

padding:15px 40px;

font-size:18px;

cursor:pointer;

}



.section {

padding:70px 30px;

max-width:900px;

margin:auto;

text-align:center;

}


.drops {

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}


.drops div {

background:#111321;

padding:20px;

}
