body {
    margin: 0;
    background: #0b0907;
    color: #f4ead5;
    font-family: Georgia, serif;
    text-align: center;
}

.hero {
    padding: 120px 20px;
    background:
    linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.85));
}

h1 {
    font-size: 64px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

h2 {
    font-size: 38px;
    letter-spacing: 2px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

p {
    max-width: 750px;
    margin: 30px auto;
    font-size: 20px;
    line-height: 1.7;
}

button {
    background: transparent;
    color: #f4ead5;
    border: 1px solid #f4ead5;
    padding: 15px 40px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #f4ead5;
    color: #0b0907;
}

.section {
    padding: 70px 20px;
}
